In [2]:
"""
Description:
    用于demo一路sEMG&FMG信号进行肌力识别
"""
import pandas as pd

from motiongui import *
from iFEMGprocessing import read_label, pdtable_read_db

In [ ]:
# read data
db_path = "D:\code\data\iFEMG_data_set\zpk1\0kg-2_5kg.db"
label_path = ""
# read db file
# row index 0: time
# row index 1-8: FMG signal
# row index 9-16: sEMG signal  
raw_data = pd.read_table(db_path, sep = ';', header = None)
label = read_label(label_path)

# 读取数据array
data_time = raw_data[0].values
data_FMG = raw_data[8].values
raw_sEMG = raw_data[16].values

In [4]:
raw_data = pd.read_table(r"D:\code\data\iFEMG_data_set\zpk1\0kg-2_5kg.db", sep = ';', header = None)
label = read_label()

In [5]:
raw_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,"2022-08-03 17:22:52,973",0,0,0,0,0,0,0,106,271,284,77,250,234,264,280,156,NaN
1,"2022-08-03 17:22:52,973",0,0,0,0,0,0,0,106,231,289,76,248,232,259,278,91,NaN
2,"2022-08-03 17:22:52,973",0,0,0,0,0,0,0,106,222,285,78,248,232,257,276,9,NaN
3,"2022-08-03 17:22:52,974",0,0,0,0,0,0,0,106,231,291,76,246,231,260,271,0,NaN
4,"2022-08-03 17:22:52,974",0,0,0,0,0,0,0,97,225,288,77,246,237,259,275,39,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50866,"2022-08-03 17:23:34,602",0,0,0,0,0,0,0,97,226,287,71,249,238,260,274,264,NaN
50867,"2022-08-03 17:23:34,602",0,0,0,0,0,0,0,97,242,288,73,249,231,267,271,298,NaN
50868,"2022-08-03 17:23:34,605",0,0,0,0,0,0,0,97,257,287,73,247,233,263,278,250,NaN
50869,"2022-08-03 17:23:34,606",0,0,0,0,0,0,0,97,219,285,71,249,238,257,277,141,NaN
50870,"2022-08-03 17:23:34,606",0,0,0,0,0,0,0,97,221,291,79,247,236,258,271,-10,NaN